.side-socials {
    padding: 0 80px 0;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    z-index: 1;
}

.vertical-text-socials {
    width: 1.2rem;
    writing-mode: tb-rl;
    font-size: 1.2rem;
    font-weight: 300;
    transform: rotate(-180deg);
    letter-spacing: 0.4rem;
}

.social-line {
    margin: 2rem 0;
    width: 0.5px;
    height: 300px;
    border: 0.25px solid black;
    background-color: #000;
}

.short-line {
    margin: 4rem 0;
    border: 0.6px solid black;
    background-color: #000;
    width: 0.5px;
    height: 5rem;
}
.social-icons {
    z-index: 1;
}
.short-social-icons .icon {
    margin-top: 30px;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 20px;
}

.icon:first-child {
    margin-top: 0;
}

@media screen and (max-width: 1440px) {
    .social-line {
        height: 300px;
    }
}

@media screen and (max-width: 1300px) {
    .vertical-text-socials {
        font-size: 16px;
    }
    .social-line {
        height: 350px;
    }
}

@media screen and (max-width: 1100px) {
    .side-socials {
        padding: 0 100px 0;
    }
    .social-line {
        height: 50vh;
    }
}

@media screen and (max-width: 1100px) {
    .social-line {
        height: 40vh;
    }
}

@media screen and (max-height: 850px) {
    .vertical-text-socials {
        font-size: 16px;
        letter-spacing: 0.25rem;
    }
    .social-line {
        height: 250px;
    }
}

@media screen and (max-height: 630px) {
    .vertical-text-socials {
        font-size: 14px;
    }
    .social-line {
        height: 50px;
    }

    .icon {
        width: 1rem;
        height: 1rem;
        margin-top: 20px;
    }
    .facebook img {
        height: 1rem;
    }
}

@media screen and (max-width: 767px){
    .side-socials {
        padding: 10px 40px 0px;
        display: inline-flex;
        flex-direction: column;
        text-transform: uppercase;
        justify-content: left;
        align-items: center;
        /* width: 0; */
        transform-origin: center;
        /* height: 200px; */
        transform: rotate(90deg) translate(100%);
        align-self: center;
        /* white-space: nowrap; */
        /* overflow: visible; */
        z-index: 1;
    }

    .social-line {
        height: 250px;
    }

    .social-line {
        margin: 2rem 0;
        width: 0.5px;
        height: 300px;
        border: 0.25px solid black;
        background-color: #000;
    }

    .short-line {
        margin: 4rem 0;
        border: 0.6px solid black;
        background-color: #000;
        width: 0.3px;
        height: 5rem;
    }

    .short-social-icons{
        display: none;
    }

}
    @media screen and (max-height: 480px) {
    .vertical-text-socials {
        font-size: 12px;
    }
    .social-line {
        height: 30px;
    }
}
